nav,
main {
    text-align: center;
}

main {
    margin : 5px auto;
    padding: 5px;
    width  : 75%;
}

fieldset {
    text-align: left;
    width     : 90%;
    margin    : 5px auto;
}

.register {
    margin: 5px auto;
}

@media only screen and (min-width: 768px) {
    main {
        width: 50%;
    }
}