/* colors: https://colorhunt.co/palette/170829 */

/* reset, the ugly way */
* {
    margin    : 0;
    box-sizing: border-box;
}

html {
    font-family     : 'Raleway', sans-serif;
    color           : #21243d;
    background-color: white;
}

nav {
    background-color: #ffd082;
    padding         : 5px;
    border-bottom   : 3px solid #ff7c7c;
    text-align      : center;
}

li {
    padding: 0.2em;
}

a,
a:visited {
    color                : inherit;
    text-decoration-color: #21243d;
}

a:hover {
    text-decoration-color: #ff7c7c;
    transition           : 0.3s;
}

nav ul {
    padding   : 0;
    list-style: none;
}

nav li {
    display: block;
}

.hidden {
    visibility: hidden;
    display   : none;
}


footer {
    background-color: #ffd082;
    border-top      : 3px solid #ff7c7c;
    border-bottom   : 3px solid #ff7c7c;
    position        : relative;
    bottom          : 0;
    height          : 100%;
    text-align      : center;
    padding         : 0 0 1em 0;
}

@media only screen and (min-width: 768px) {
    nav li {
        display: inline-block;
    }
}