main {
    padding   : 5px;
    text-align: center;
    width: 75%;
    margin: auto;
}

nav {
    text-align : center;
}

nav li {
    display: inline-block;
}

#mainlink {
    font-weight: bold;
}

footer {
    background-color: #ffd082;
    border-left    : 3px solid #ff7c7c;
    position        : fixed;
    right            : 0px;
    top             : 0px;
    height          : 100%;
    text-align      : center;
    padding         : 0 0.1em 0 1em;;
    writing-mode    : vertical-rl;
    text-orientation: mixed;
}

nav ul {
    padding   : 0;
    list-style: none;
}

h1 {
    padding              : 5px 0;
    text-decoration      : underline;
    text-decoration-color: #ff7c7c;
}

main h2 {
    text-decoration: underline;
    padding        : 5px 0;
}

.contenu {
    text-align: left;
}