main {
    padding   : 5px;
    text-align: center;
    width     : 75%;
    margin    : 0 auto 5em auto;
    position  : relative;
}

#mainlink {
    font-weight: bold;
}

h1 {
    padding              : 5px 0;
}

main h2 {
    padding        : 5px 0;
}

.contenu {
    text-align: left;
}

.image img {
    max-width: 100%;
    margin: 1em 0;
}