nav,
main {
    text-align: center;
}

form {
    width     : 75%;
    margin    : auto;
    text-align: left;
}

.fullwidth {
    width: 100%;
}

.cpwidth {
    width   : 25%;
    float   : left;
    margin  : 0;
}

.vwidth {
    /* add a bit of space on the left */
    padding: 0 0 0 2px;
    width   : 75%;
    margin  : 0;
    float   : left;
}

fieldset {
    margin: 5px 0;
}

.group {
    display: block;
    width: 100%;
    margin: 3px 0;
    padding: 3px;
}

.required {
    border-left: 3px solid #ff7c7c;
}

.optional {
    border-left: 3px solid lightgray;
}