nav,
main {
    text-align: center;
}

main {
    padding: 5px;
    width  : 90%;
    margin : 5px auto;
}

form {
    margin    : 5px auto;
    text-align: left;
    text-align: center;
}

fieldset {
    text-align: left;
}

input:not([type=radio]) {
    margin: 2px 0;
}

.vwidth,
.cpwidth {
    width: 100%;
}

fieldset {
    margin: 5px 0;
}

.login {
    margin: 5px auto;
}

@media only screen and (min-width: 768px) {
    main {
        width: 75%;
    }

    .cpwidth {
        width  : 25%;
        float  : left;
        margin : 0;
        padding: 3px;
    }

    .vwidth {
        /* add a bit of space on the left */
        padding: 0 0 0 2px;
        width  : 75%;
        margin : 0;
        float  : left;
        padding: 3px;
    }
}